In [26]:
import pandas as pd
df = pd.read_csv('data_edited_tags_named.txt',sep=',')
# df = df.drop('timestamp', axis=1)

print(df)

        seq          tag           timestamp          time     x_pos  \
0       A01   ankle_left  633790226051280329  14:03:25:127  4.062931
1       A01        chest  633790226051820913  14:03:25:183  4.291954
2       A01         belt  633790226052091205  14:03:25:210  4.359101
3       A01   ankle_left  633790226052361498  14:03:25:237  4.087835
4       A01  ankle_right  633790226052631792  14:03:25:263  4.324462
...     ...          ...                 ...           ...       ...
164855  E05  ankle_right  633790146419554374  11:50:41:957  3.209474
164856  E05   ankle_left  633790146419824669  11:50:41:983  3.386878
164857  E05        chest  633790146420094965  11:50:42:010  3.188895
164858  E05  ankle_right  633790146420635550  11:50:42:063  3.150169
164859  E05   ankle_left  633790146420905847  11:50:42:090  3.209994

           y_pos     z_pos activity
0       1.892434  0.507425  walking
1       1.781140  1.344495  walking
2       1.826456  0.968821  walking
3       1.879999  0.466983  walking
4       2.072460  0.488065  walking
...          ...       ...      ...
164855  2.044571  0.062902  walking
164856  2.004729  0.395161  walking
164857  1.915717  1.353087  walking
164858  1.931164  0.055037  walking
164859  1.939577  0.364777  walking

[164860 rows x 8 columns]

In [14]:
# array of unique sequence ids
unique_seqs = []

for item in df['seq'].unique():
    unique_seqs.append(item)

['A01', 'A02', 'A03', 'A04', 'A05', 'B01', 'B02', 'B03', 'B04', 'B05', 'C01', 'C02', 'C03', 'C04', 'C05', 'D01', 'D02', 'D03', 'D04', 'D05', 'E01', 'E02', 'E03', 'E04', 'E05']

In [ ]:
df_a01 = df.loc[df['seq_name'] == 'A01']